/*Place your CSS code here*/

:root {
    --header-bg-color: #000 !important;
    --searchbar-bg-color: #fff;
    --lightgray-bg-color: #f4f5f6;
    --sidebar-font-color: blue;
    --body-font-color: #2c2c2c;
    --button-color: green;
    --button-hover-color: green;
    --button-drop-shadow: 0 0 0 rgba(0,0,0,0);
}